@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    background-color: #222;
    color: #cde;
    font-family: Merriweather;
}
div { box-sizing: border-box; }
p { text-align: justify; }
input, button { font-family: Inconsolata; }
strong { color: lavenderblush; }

div#dbg {
    white-space: pre;
    font-family: monospace;
}
div.bordered {
    background-color: #444;
    border: 1em solid #666;
    border-radius: 1em;
    padding: 1em;
}
div#status {
    position: fixed;
    left: 1em; top: 1em;
    z-index: 5;
    display: none;
}
canvas {
    z-index: 1;
    cursor: crosshair;
}
div#canvas-outline {
    z-index: 2;
    position: fixed;
    background-color: none;
    border: 1ex solid #cde;
    box-sizing: border-box;
    display: none;
}
button#m-zoom-in,
button#m-zoom-out {
    height: 4em;
    width: 10em;
    text-align: center;
    font-family: monospace;
}

div#control-open {
    position: fixed;
    top: 1em; right: 1em;
    z-index: 3;
    cursor: default;
}
div#control-open div { font-family: monospace; }
div#control div#control-close {
    justify-content: flex-end;
    cursor: default;
    font-family: monospace;
}
div#control {
    position: fixed;
    top: 1em; right: 1em;
    z-index: 4;
    display: none;
    flex-direction: column;
    align-items: stretch;
    gap: 1ex;
    max-height: 90vh;
    overflow: auto;
}
div#control > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1ex;
}
div#control input[type="number"] { width: 12ex; }
button.remove-gradient { font-family: monospace; }

div#control > div#polynomial { display: none; }

input.r,
input.t {
    width: 7ex;
    font-size: smaller;
}
tr#degree-row td { text-align: center; }
div#polynomial tbody td { padding: 0 1ex; }

div#help {
    position: fixed;
    bottom: 1em; right: 1em;
    z-index: 4;
    display: none;
    max-width: 90ex;
    max-height: 90vh;
    overflow: auto;
}
div#help-open {
    position: fixed;
    bottom: 1em; right: 1em;
    z-index: 3;
    cursor: help;
}
div#help-open div { font-family: monospace; }
div#help-close {
    text-align: right;
    font-family: monospace;
    cursor: default;
}

div#panic-background {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: #222;
    opacity: 0.8;
    z-index: -1;
    display: none;
}
div#panic-text {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
    background-color: #411;
    border: 1em solid #822;
    border-radius: 1em;
    padding: 1em;
}