@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@font-face {
    font-family: icomoon;
    src: url("icomoon.woff");
}

body {
    background-color: #222;
    color: #cde;
    font-family: Merriweather;
}
div { box-sizing: border-box; }
p { text-align: justify; }
a { color: #8ae; text-decoration: none; }
a:visited { color: #89a; }
a:hover { color: #8ac; text-decoration: underline; }
code { font-family: Inconsolata; }
button { background-color: #bbb; }
input { font-family: Inconsolata; }
strong { color: lavenderblush; }
.icon { font-family: icomoon; font-size: x-large; }
.inline-icon { font-family: icomoon; }
.arrow { cursor: default; }
.opener {
    position: fixed;
    width: 5em; height: 5em;
    z-index: 3;
}
.opener span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

div#dbg {
    white-space: pre;
    font-family: monospace;
}
div.bordered {
    background-color: #444;
    border: 1em solid #666;
    border-radius: 1em;
    padding: 1em;
}
div#status {
    position: fixed;
    left: 1em; top: 1em;
    z-index: 5;
    display: none;
}
canvas {
    z-index: 1;
    cursor: crosshair;
}
div#canvas-outline {
    z-index: 2;
    position: fixed;
    background-color: none;
    border: 1ex solid #cde;
    box-sizing: border-box;
    display: none;
}
button.m { height: 4em; width: 4em; }

div#control-open { top: 1em; right: 1em; }

div#control {
    position: fixed;
    top: 1em; right: 1em;
    z-index: 4;
    display: none;
    max-height: 90vh;
    overflow: auto;
}
div#control div { gap: 1ex; }
div#control > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
div#control div#other-column > div { display: flex; align-items: center; }
div#control input[type="number"] { width: 10ex; }

div#control div#polynomial { display: none; }

input.r,
input.t {
    width: 8ex;
    font-size: smaller;
}
div#polynomial tbody td { padding: 0 1ex; }

div#about {
    position: fixed;
    top: 50%; right: 1em;
    transform: translate(0%, -50%);
    display: none;
    flex-direction: column;
    align-items: flex-end;
    z-index: 4;
    gap: 1ex;
}
div#about > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ex;
}
div#about-open { top: 50%; right: 1em; transform: translate(0%, -50%); }

div#help {
    position: fixed;
    bottom: 1em; right: 1em;
    z-index: 4;
    display: none;
    width: 90ex;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
}
div#help-open {
    bottom: 1em; right: 1em;
    cursor: help;
}
div#help-close { text-align: right; }

div#panic-background {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: #222;
    opacity: 0.8;
    z-index: -1;
    display: none;
}
div#panic-text {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
    background-color: #411;
    border: 1em solid #822;
    border-radius: 1em;
    padding: 1em;
}